SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_KEY=
GOOGLE_CREDENTIALS_FILE=credentials/your-service-account.json
STOCK_SPREADSHEET_ID=
AUXILIARY_SPREADSHEET_ID=
WORKSHEET_STOCK=STOCK
WORKSHEET_ALMACEN_MOVIMIENTOS=Movimientos del almacen
WORKSHEET_DATOS_KARDEX=datosKardex
WORKSHEET_STOCK_ACTUAL=Stock Actual
